@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.footer-logo-about {
  width: 80px
}
.container-about {
  color: #fff;
  width: 100%;
  height: 345px;
  background-color: #c29aea;
}
.rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.rectangle1 {
  height: 28px;
  background-color: #d3baed;
}
.rectangle2 {
  height: 28px;
  background-color: #ebdbfb;
}
.rectangle3 {
  height: 28px;
  background-color: #fdfaff;
}
.about-door {
  font-family: "Irish Grover", cursive;
  font-size: 120px;
  width: 30%;
  margin-left: 4%;
}
.about-rectangle-img {
  width: 205px;
  height: 205px;
  border-radius: 8px;
}
.about-img1 {
  height: 200px;
  width: 200px;
}
.about-img2 {
  margin-left: 55%;
  margin-top: -5%;
}
.about-img3 {
  margin-left: -12%;
  margin-top: -25%;
}
.about-right {
  margin-right: 2%;
  margin-top: 15%;
  height: 150%;
  width: 35%;
}
.about-door-verse-left {
  margin-top: 10%;
  width: 80%;
  margin-left: 5%;
}
.door-title {
  font-size: 25px;
  color: #c29aea;
  font-weight: bold;
}
.door-text {
  margin-top: 1.5%;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.about-door-verse-right {
  margin-top: 8%;
  text-align: right;
  margin-left: 25%;
  width: 70%;
}
.animation-path {
  margin-top: 10%;
  margin-bottom: 10%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.path_div{
  height: 600px;
  width: 60%;
}
@media screen and (max-width: 1290px) {
  .about-right {
    margin-top: 20%;
    width: 40%;
  }
  .about-img2 {
    margin-top: -8%;
    margin-left: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .about-right {
    margin-right: 3%;
    margin-top: 22%;
    width: 40%;
  }
  .about-img1 {
    height: 180px;
    width: 180px;
  }
  .about-img2 {
    margin-left: 55%;
    margin-top: -5%;
    height: 180px;
    width: 180px;
  }
  .about-img3 {
    margin-left: -10%;
    margin-top: -15%;
    height: 180px;
    width: 180px;
  }
}
@media screen and (max-width: 920px) {
  .about-right {
    margin-right: 3%;
    margin-top: 18%;
    height: 130%;
    width: 44%;
  }
  .about-img2 {
    margin-left: 55%;
    margin-top: -5%;
  }
  .about-img3 {
    margin-left: -10%;
    margin-top: -20%;
  }
  .about-door {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  .container-about {
    height: 300px;
  }
  .about-right {
    margin-top: 18%;
    width: 48%;
    height: 120%;
    margin-right: 1%;
  }
  .about-img1 {
    width: 160px;
    height: 160px;
  }
  .about-img2 {
    width: 160px;
    height: 160px;
    margin-left: 50%;
    margin-top: -5%;
  }
  .about-img3 {
    width: 160px;
    height: 160px;
    margin-left: -5%;
    margin-top: -20%;
  }

  .about-door-verse-left {
    margin-top: 20%;
    width: 90%;
  }
  .door-text {
    margin-top: 2%;
  }
  .about-door-verse-right {
    margin-top: 12%;
    margin-left: 5%;
    width: 90%;
  }
  .about-door {
    font-size: 90px;
  }
}
@media screen and (max-width: 640px) {
  .container-about {
    height: 280px;
  }
  .about-right {
    margin-top: 10%;
    width: 48%;
    height: 100%;
    margin-right: 1%;
  }
  .about-img1 {
    width: 140px;
    height: 140px;
  }
  .about-img2 {
    width: 140px;
    height: 140px;
  }
  .about-img3 {
    width: 140px;
    height: 140px;
  }

  .door-text {
    font-size: 22px;
  }
}
@media screen and (max-width: 426px) {
   .container-about {
    height: 260px;
  }
  .about-right {
    margin-top: 50%;
    width: 40%;
    height: 150%;
    margin-right: 1%;
  }
  .about-img1,
  .about-img2,
  .about-img3 {
    width: 120px;
    height: 120px;
  }
  .about-img2{
    margin-top: 10%;
    margin-left: 25%;
  }
  .about-img3{
    margin-left: -55%;
  }
  .about-door {
    font-size: 75px;
  }
}
@media screen and (max-width: 376px) {
  .about-right {
    margin-top: 50%;
    width: 40%;
    height: 150%;
    margin-right: 1%;
  }
  .about-img1,
  .about-img2,
  .about-img3 {
    width: 120px;
    height: 120px;
  }
  .about-img1{
    margin-left: 5%;
  }
  .about-img2{
    margin-top: 10%;
    margin-left: 18%;
  }
  .about-img3{
    margin-left: -65%;
  }
  .about-door {
    font-size: 65px;
  }
  .about-door-verse-left{
    margin-top: 30%;
    margin-left: 6%;
  }
  .about-door-verse-right{
    margin-left: 5%;
  }
  .door-title{
    font-size: 22px;
  }
  .door-text{
    font-size: 19px;
  }
}
@media screen and (max-width: 321px) {
  .container-about{
    height: 240px;
  }
  .about-door {
    font-size: 60px;
  }
  .about-img1,
  .about-img2,
  .about-img3 {
    width: 100px;
    height: 100px;
  }
  .about-right {
    margin-top: 60%;
    height: 160%;
  }
  .door-text{
    font-size: 18px;
    margin-top: 5%;
  }
  .about-door-verse-left{
    margin-left: 7%;
  }
  .about-door-verse-right{
    margin-top: 20%;
  }
  .door-title{
    font-size: 20px;
  }
}

@media screen and (max-width: 800px){
  .path_div{
    height: 500px;
    width: 80%;
  }
}
@media screen and (max-width: 426px){
  .path_div{
    height: 400px;
    width :90%;
  }
  .animation-path {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  
}
@media screen and (max-width: 321px){
  .path_div{
    height: 300px;
    width :98%;
  }
}