.ancient_container{
    height: 500px;
    width: 100%;
}
.ancient_img{
    width: 100%;
    height: 100%;
}
.article{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.article_img{
    width: 460px;
    height: 500px;
    padding: 2%;
}
.article_top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.article_bottom{
    width: 100%;
    height: fit-content;
}
.article_text{
    font-size: 22px;
}
.article_right{
    height: 40%;
    width: 70%;
    padding: 2%;
    font-size: 22px;
    padding-bottom: 0;
}
.article_title{
    font-size: 72px;
    font-weight: 700;
}
.totaldoor{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    padding: 5%;
}
.totaltext{
    color: #FFE03B;
    margin: 0;
    padding: 0%;
}
.ancient-card{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-top: 7%;
}
.article-right{
    margin-top: 2%;
    border-left: 0px !important;
}
.card-door{
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.card-btn{
    text-decoration: none;
    color: #000;
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 42%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: #fff;
}
.card-btn:hover{
    color: #000;
    
}