.chapter{
    color: #fff;
    font-weight: 500;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    
}
.chapter_img{
    width: 198px;
    height: 198px;
    z-index: 10;
}

.chapter_imgg{
    position: relative;
    width: 200px;
    height: 115px;
    z-index: 10;
    left: 0%;
    margin-top: 8%;
    transform: rotate(-10.64deg);
}
.timeline_col{
    margin-top: 3%;
    width: 58%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.timeline_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10%;
}

/* horixontal */
.barh{
    background-color: #424141;
    width: 475px;
    height: 35px;
    margin-top: 6%;
    margin-left: 8%;
    position: absolute;
}
/* vertical */
.barv{
    width: 35px;
    height: 200px;
    position: absolute;
    background-color: #424141;
    margin-top: 10%;
    margin-left: 8%;
}
.innerh{
    background-color: #BFB12C;
    width: 100%;
    height: 100%;
    border-radius: 0;
    animation: loadingh 2s forwards cubic-bezier(0,0,0,0);
}
.innerv{
    background-color: #BFB12C;
    width: 100%;
    height: 100%;
    border-radius: 0;
    animation: loadingv 2s forwards cubic-bezier(0,0,0,0);
}
@keyframes loadingh {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes loadingv {
    0%{
        height: 0%;
    }
    
    100%{
        height: 100%;
    }
}
.barh2{
    transform: rotate(2deg);
}
.barh3{
    transform: rotate(-1deg);
}
.barh4{
    transform: rotate(3deg);
}
.barh5{
    transform: rotate(-2deg);
}
.barh6{
    transform: rotate(1deg);
}


.barv1{
    transform: rotate(0deg);
    margin-left: 41%;
}
.barv2{
    transform: rotate(2deg);
    margin-left: 5%;
}
.barv3{
    transform: rotate(-1deg);
    margin-left: 39%;
}
.barv4{
    transform: rotate(3deg);
    margin-left: 5%;
}
.barv5{
    transform: rotate(-3deg);
    margin-left: 39%;
}
.heading-chapter{
    font-size: 24px;
    text-align: center;
    color: #C29AEA;
    font-weight: bold;
    margin-bottom: 3%;
    letter-spacing: 1px;
}
.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    width: 80%;
    font-size: 24px;
    text-align:center;
}
.line{
    width: 95%;
    margin-top: 8%;
    border: 3px solid rgba(255, 255, 255, 0.2);
}
/* .minting{
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.minting_text{
    font-size: 40px;
    color: #C29AEA;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
}
.mint_img{
    width: 60px;
    height: 60px;
}
.minting_info{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.mint_display{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mint_display_img{
    width: 234px;
    height: 234px;
    border-radius: 8px;
}
.mint_display_img1{
    width: 432px;
    height: 432px;
    border-radius: 8px;
}
.mint_display_text{
    display: flex;
    margin-top: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mint_heading{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    letter-spacing: -0.011em;
    text-align: center;
}
.total{
    font-size: 30px;
}
.mint_button{
    font-size: 20px;
    font-weight: 500;
    width: 230px;
    height: 45px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: none;
    margin-top: 6%;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.mint_button:hover{
    color: #000;
}
.fa-arrow-right{
    color: #000;
} */


@media screen and (max-width: 1300px){
    .barh{
        margin-top: 8%;
        width: 370px;
    }
    .barv{
        height: 250px;
    }
}
@media screen and (max-width: 1026px){
    .chapter_imgg{
        left: 0%;
    }

    .timeline_col{
        margin-top: 3%;
        width: 80%;
    }
    .timeline_row{
        width: 100%;
        margin-bottom: 20%;
    }

    .barh{
        width: 500px;
        height: 25px;
        margin-top: 10%;
        margin-left: 10%;
    }

    .barv{
        width: 25px;
        height: 370px;
        background-color: #424141;
        margin-top: 10%;
        margin-left: 65%;
    }
    .chapter_imgg{
        width: 180px;
        height: 110px;
    }

    .minting{
        display: none;
    }

    .mint_img{
        display: none;
    }

    .mint_display{
        display: none;
    }
    
    .mint_display_text{
        display: none;
    }


    
}

@media  screen and (max-width: 845px){
    .barh{
        width: 400px;
        height: 25px;
        margin-top: 12%;
    }

    .barv{
        width: 25px;
        height: 300px;
        margin-left: 62%;
    }
}
@media  screen and (max-width: 700px){
    .timeline_col{
        margin-top: 3%;
        width: 90%;
    }
    .barh{
        width: 350px;
        margin-top: 15%;
    }

    .barv{
        margin-left: 70%;
        height: 280px;
        margin-top: 15%;
    }
    .chapter_imgg{
        width: 160px;
        height: 100px;
        margin-top: 12%;
    }

}
@media  screen and (max-width: 600px){


    .chapter{
        padding: 5%;
    }
    .timeline_col{
        margin-top: 3%;
        width: 95%;
    }
    .timeline_row{
        width: 100%;
        margin-bottom: 20%;
    }
    .chapter_img{
        width: 160px;
        height: 160px;
        z-index: 10;
    }
   
    .barh{
        width: 350px;
        margin-top: 15%;
    }

    .barv{
        height: 260px;
        margin-left: 70%;
    }
    .chapter_imgg{
        margin-left: 4%;
        width: 150px;
        height: 90px;
    }
    .heading-chapter{
        font-size: 20px;
        /* text-align: center; */
    }

    .content1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 400;
        width: 80%;
        font-size: 14px;
        text-align:center;
    }

    .minting{
        display: none;
    }

    .mint_img{
        display: none;
    }

    .mint_display{
        display: none;
    }
    
    .mint_display_text{
        display: none;
    }

    
    

}

@media  screen and (max-width: 425px){
    .timeline_col,.timeline_row{
        width: 100%;
        margin-top: 12%;
    }
    .chapter_img{
        width: 140px;
        height: 140px;
    }
    .barh{
        width: 250px;
        margin-top: 16%;
    }
    .chapter_imgg{
        width: 130px;
        height: 80px;
    }
}
@media  screen and (max-width: 500px){
    .timeline_col,.timeline_row{
        width: 100%;
        margin-top: 10%;
    }
    .chapter_img{
        width: 150px;
        height: 150px;
    }
    .barh{
        width: 280px;
        margin-top: 16%;
    }
    .chapter_imgg{
        width: 130px;
        height: 80px;
    }
}
@media  screen and (max-width: 375px){
    .timeline_col{
        margin-top: 15%;
    }
    .chapter_img{
        width: 130px;
        height: 130px;
    }
    .barh{
        width: 250px;
        height: 22px;
        margin-top: 17%;
    }
    .barv{
        width: 22px;
        height: 180px;
    }
    .chapter_imgg{
        width: 110px;
        height: 65px;
        margin-top: 14%;
    }
}
@media  screen and (max-width: 321px){
    .timeline_col{
        margin-top: 15%;
    }
    .chapter_img{
        width: 120px;
        height: 124px;
    }
    .barh{
        width: 180px;
        height: 22px;
        margin-top: 19%;
    }
    .barv{
        width: 22px;
        height: 180px;
    }
    .chapter_imgg{
        width: 100px;
        height: 65px;
        margin-top: 14%;
    }
}