.banner-content{
  background-size: cover;
  width: 95%;
  height: 100%;
}
.banner-wrap{
  margin: 0;
  padding-top: 2%;
  height: 200px;
  display: flex;
  height: fit-content;
  justify-content: center;
  width: 100%;
}
.footer-text1{
  border-top: 6px solid #fdfdfd33;
  background-color: #090909;
  color: #fff;
  padding-top: 6%;
  padding-bottom: 1%;
  border-radius: 5px;
}
.footer-text2{
  color: #fff;
}
.fa-envelope{
  width: 24px;
  height: 25px;
  font-size: 24px;
}
.emaildiv{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: fit-content;
}
.email{
  margin-left: 5%;
  font-size: 18px;
}
.footer2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hr{
  background-color: #fff;
  width: 60%;
  height: 4px;
  border: 1px solid #090909;
  border-radius: 8px;
}
.social{
  width: 10%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.brands-link{
  cursor: pointer;
  font-size: 26px;
  transition: all 0.5s;
}
.brands-link:hover{
  color: #643197;

}
.footer-container{
  height: 83px;
  width: 100%;
  margin-top: 5%;
  margin-right: 0;
  background-color: #643197;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-end{
  width: 97%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.copyright{
  font-size: 16px;
  padding-top: 18px;
  font-weight: 500;
  letter-spacing: -0.011em;
}
.footer-logo{
  width: 66px;
  height: 66px;
  border-radius: 6px
}
.brands-link{
  text-decoration: none;
}

@media screen and (max-width:1024px){
  .hr{
    width: 50%;
  }
  .footer2{
    width:92%;
  }
  /* .email{
    width: 27%;
  } */
  .footer-container{
    width: 100vw;
  }
}
@media screen and (max-width:768px) {
  .hr{
    width: 40%;
  }   
  /* .email{
    width: 42%;
  } */
}
@media screen and (max-width:426px){
  /* .email{
    width: 42%;
    font-size: 16px;
  } */
  .card-title{
    width: 100%;
  }
  h5{
    font-size: 15px;
  }
  .hr{
    display: none;
  }
  .footer2{
    width: 100%;
  }
  .copyright{
    width: 45%;
    padding-top: 5%;
  }
  .social{
    width: 30%;
  }
  .fa-envelope{
    width: 20px;
    height: 20px;
    font-size: 21px;
  }
}
@media screen and (max-width:376px){
  .copyright{
    width: 45%;
    padding-top: 5%;
  }
  .footer-end{
    width: 92%;
  }
  .social{
    width: 32%;
  }
  /* .email{
    width: 57%;
  } */
  .banner-wrap{
    padding-left: 3%;
  }
}
@media screen and (max-width:570px){
  .footer-container{
    width: 100%;
  }
  .hr{
    width: 25%;
  }
}
@media screen and (max-width:320px){
  /* .email{
    width: 55%;
  } */
  .social{
    width: 40%;
  }
  .banner-wrap{
    padding-left: 5%;
  }
}