
.herosection{
  width: 100%;
  height: 350px;
  display: flex;
  align-items: end;
  background-image: url("../part1images/1440_398.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.herotext{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 30%;
  margin-left: 3%;
}
.knock{
  margin-top: -20px;
  font-family: "Bowlby One SC", cursive;
  font-size: 80px;
}
.there{
  margin-top: -10px;
  font-family: "Bowlby One SC", cursive;
  font-size: 55px;
}
.herowelcome{
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: #fff;
}
.herowelcome-text{
  font-weight: 600;
}
.herowelcome-desc{
  margin-top: 3%;
  text-align:justify;
}
.tilt-images{
  width: 100%;
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.image-style{
  overflow-x: hidden;
  width: 272px;
  height: 310px;
  border: 5px solid #fff;
  border-radius: 8px;
}
.image2{
  transform: rotate(-36deg);
}
.image3{
  transform: rotate(28deg);
}
.tilt-images-two{
  margin-top: -10%;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}
.nftcollection{
  
  margin-top: 20%;
  width: 100%;
  height: 350px;
  background-image: url("../part1images/image8.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  background-color: #5c3686;
}
.nft-open-text{
  width: 40%;
  height: 60%;
  margin-left: 3%;
}
.nft-text{
  font-size: 42px;
  color: #fff;
  margin-left: 2%;
  margin-top: 10%;
}
.nft-btn{
  margin-top: 2%;
  font-size: 22px;
  padding: 1%;
  text-align: center;
  border-radius: 6px;
  color: #000;
  width: 40%;
  background-color: #fff;
  text-decoration: none;
}
.door-img-right{
  width: 450px;
  height: 450px;
  margin-top: -6.6%;
}
.door6{
  width: 100%;
  height: 100%;
}
.chapter-homepage{
  width: 100%;
  height: 30%;
  display: flex;
  text-align: center;
  margin-top: 5%;
  justify-content: center;
  flex-direction: column;
  padding: 0 7% 0 7%;
}
.chapters-title{
  font-size: 35px;
  color: #fff;
}
.display-home-chapter{
  display: flex;
  margin-top: 8%;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.chapter-images-home{
  width: 290px;
  height: 290px;
}
.chapter-image-middle{
  width: 330px;
  height: 330px;
}
.chapter-home-desc{
  color: #fff;
  font-size: 25px;
  padding: 7% 7% 0 7%;
}
.btn-chapter{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4% 7% 0 7%;
}
.explore-btn{
  background-color: #fff;
  color: #000;
  font-size: 22px;
  width: 25%;
  border-radius: 6px;
  text-decoration: none;
  padding: 5px;
}
.explore-btn:hover{
  color: #000;
}
.fa-arrow-right{
  font-size: 20px;
}