*{font-family: 'Poppins', sans-serif;}

#black{
    background-color: #090909;
}
#headertext {
    width: 350px; /* adjust size as needed */
    height: 200px; /* adjust size as needed */
    border-radius: 10%; /* set the border-radius to 50% to create a circle */
    position: absolute;
    top: 20px;
    left: 30px;
}


#boxstyle{
    width: 200px; /* adjust size as needed */
    height: 34px; /* adjust size as needed */
    border-radius: 10%; /* set the border-radius to 50% to create a circle */
    background: #f4eeee;
    position: relative;
    border: blanchedalmond;
    left: 975px;
    bottom: -5px;
    border: 1px;
}

#grey{
    width: 75px; /* adjust size as needed */
    height: 37px; /* adjust size as needed */
    border-radius: 10%; /* set the border-radius to 50% to create a circle */
    background: #DEDEDE;
    position: relative;
    left: 975px;
    top: 58px;
}

#grey1{
   width: 105px;
   height: 33px;
   background-color: #DEDEDE;
   border-radius: 5%;
   position: relative;
   left:35px;
   bottom: 4px;
}

#category {
    width: 130px; /* adjust size as needed */
    height: 20px; /* adjust size as needed */
    border-radius: 5%; /* set the border-radius to 50% to create a circle */
    font-size: 19px;
    background: white;
    padding-top:6px;
    padding-bottom:11px;
    text-align: right;
    padding-right: 10px;    
    position: relative;
    left:25px;
    top:195px;
    
}

#attributes {
    width: 125px; /* adjust size as needed */
    height: 20px; /* adjust size as needed */
    border-radius: 5%; /* set the border-radius to 50% to create a circle */
    font-size: 19px;
    background: white;
    text-align: center;
    padding-top:6px;
    padding-bottom:11px ;
    color:"black";
    position:relative;
    right:-25px;
    top:210px;
}

.horizontal-line {
    border-left: 1300px solid rgb(86, 79, 79); /* width, style, and color of the border */
    border-radius: 10%;
    color: #3c3a3a;
    height: 4px; /* height of the line */
    position: relative;
    left: 30px;
    top: 80px;
  }

  #horizontal-line1 {
    border-left: 850px solid white; /* width, style, and color of the border */
    border-radius: 10%;
    height: 4px; /* height of the line */
    position: relative;
    bottom: -35px;
    left: 275px;
  }

  .vertical-line {
    border-left: 3px solid rgb(70, 66, 66); /* width, style, and color of the border */
    height: 1200px; /* height of the line */
    position: relative;
    left:250px;
    top: -250px;
    /* bottom: 250px; */
  }

  #squirrelnft{font-size: 23px;
    color: white;
    position: relative;
    left: 30px;
    top: 50px;
    } 

  #emailaddress{font-size: 17px;position: relative;right: -100px;color: white;position: relative;left: 60px;top:50px}
  #text{font-size: 18px; color: white; position: relative; left: 30px;top:50px}
  #text1{font-size: 20px; color: white; position: relative; right: 15px;top:150px}


/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Hide the default checkbox */
input[type="checkbox"] {
display: none;
}

/* Style the custom checkbox */
label:before {
content: "";
display: inline-block;
width: 20px;
height: 20px;
margin-right: 10px;
background-color: white;
border: 2px solid #000000;
border-radius: 3px;
position: relative;
left: 140px;
top: 5px;
}

/* Style the custom checkbox when checked */
input[type="checkbox"]:checked + label:before {
content: "\2713";
text-align: center;
line-height: 20px;
background-color: #ffffff;
color:black;
}




